<div class="container" ng-controller="DecisionsCtrl">
  <h1><i class=" fa fa-tasks"></i> Decisions taken by the Staff Council</h1>    
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchQuery">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
      	<td>
          <a ng-click="sortType = 'id'; sortReverse = !sortReverse">
            ID
            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'status'; sortReverse = !sortReverse">
            Status
            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'proposedOn'; sortReverse = !sortReverse">
          Proposed On
            <span ng-show="sortType == 'proposedOn' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'proposedOn' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="sortType = 'proposedOn'; sortReverse = !sortReverse">
          Category
            <span ng-show="sortType == 'proposedOn' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'proposedOn' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
         <td>
          <a ng-click="sortType = 'proposedOn'; sortReverse = !sortReverse">
          Title
            <span ng-show="sortType == 'proposedOn' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'proposedOn' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="dec in data | orderBy:sortType:sortReverse | filter:searchQuery">
      	 <td>{{dec.id}}</td>
        <td>{{dec.status}}</td>
        <td>{{dec.proposedOn}}</td>
        <td>{{dec.category}}</td>
        <td>{{dec.title}}</td>

      </tr>
    </tbody>
  </table>  
</div>
<!-- <pre>{{data | json}}</pre> -->
